header {
    background-color: darkgrey;
    font-size: 45px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-logo{
    padding-left: 30px;
}

.footer-contents{
    padding-top: 40px;
    padding-left: 30px;
}

footer{
    color: white;
    background-color: cornflowerblue;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 130px;
}

body {
    margin: 0;
    padding: 0;
}

.top-content{
    
    padding-top: 50px;
    margin-top: 50px;
}

.container{
    width: 500px;
    margin: 120px auto; /* margin 上下 左右autoで中央寄せ*/
    
}

.target_calories{
    margin-left: 60px;
}

.main_contents{
    text-align: center;
    margin-top: 100px;
}

.remaining_output{
    margin-top: 0px;
    font-size: 50px;
    text-align: center;
}

.goal_achievement{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    text-align: center;
}

.target_inputform{
    text-align: center;
}

.input_kcal_str{
    padding-left: 10px;
    padding-right: 20px;
}

.new_link{
    border-top: solid;
    margin-top: 20px;
    padding-top: 20px;
    border-color: #EEEEEE;
}