header {
    background-color: darkgrey;
    font-size: 45px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-logo{
    padding-left: 30px;
}

body {
    margin: 0;
    padding: 0;
}

.top-content{
    padding-top: 50px;
    margin-top: 50px;
}

.container{
    width: 300px;
    margin: 120px auto; /* margin 上下 左右autoで中央寄せ*/
    
}

.target_calories{
    margin-left: 60px;
}

.main_contents{
    text-align: center;
    margin-top: 100px;
}